name: Build Merian

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    name: Build ${{ matrix.buildtype }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        buildtype: [debugoptimized, release]
        meson_version: ["1.10.1"]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Install Vulkan SDK
        uses: humbletim/setup-vulkan-sdk@v1.2.1
        with:
          vulkan-query-version: 1.3.290.0
          vulkan-components: Vulkan-Headers, Vulkan-Loader
          vulkan-use-cache: true
      - name: Install dependencies
        run: python -m pip install meson==${{ matrix.meson_version }} ninja
      - name: Prepare MSVC
        uses: ilammy/msvc-dev-cmd@v1
        if: matrix.os == 'windows-latest'
      - name: Install dependencies for Linux
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get -y install \
            libxkbcommon-dev \
            xorg-dev
      - name: Setup Project
        run: meson setup build --buildtype=${{ matrix.buildtype }}
      - name: Compile Project
        run: meson compile -C build
      # - name: Run Tests
      #   run: meson test -C build -v
      # - name: Upload Test Log
      #   uses: actions/upload-artifact@v4
      #   if: failure()
      #   with:
      #     name: ${{ matrix.os }}_Meson_Testlog
      #     path: build/meson-logs/testlog.txt
